body {
  overflow: hidden; /* Hide scrollbars */
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node {
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  border:2px solid green;
  border-radius:5px;
  padding:10px;
  width:100px;
}

.node:hover {
  background:orange !important;
  color:white !important;
}

.node-deceased {
  cursor:pointer;
  background:lightgrey;
  color:grey !important;
}

.node-gen {
  border:2px solid blue !important;
}


#main-wrapper {
  margin-top:10vh;
  width:10000000000000px;
  transform:scale(1);
  padding-top:100px;
  margin-bottom:50vh;
}

.family-list {
  width:100vw;
  height:calc(100vh - 80px);
  padding-top:95px;
}

.dragscroll {
  width:100vw;
  height:calc(100vh - 150px);
  padding-top:160px;
  overflow: scroll;
  cursor: grab;
  cursor : -o-grab;
  cursor : -moz-grab;
  cursor : -webkit-grab;
}
.header {
  z-index:997;
  background:grey;
  color:white;
  margin-bottom:50px;
  position:fixed;
  width:100vw;
  text-align:center;
  top:0;
  left:0;
  height:57px;
  padding-top:5px;
}
.main-menu-item-selected {
  background:lightgrey !important;
  color:grey;
}
.main-menu-item:hover {
  color:grey !important;
}
.main-menu-item {
  display:inline-block;
  margin-right:15px;
  padding:5px 10px 5px 10px;
  background:grey;
  cursor:pointer;
}
.main-menu-item:hover {
  background:lightgrey !important;
}

.family-list {
  vertical-align:top;
  margin-top:15px;
}
.family-list-sidebar {
  background:lightgrey;
  vertical-align:top;
  display:inline-block;
  width:300px;
  text-align:left;
  padding:10px;
}

.family-list-form {
  margin-bottom:5px;
}

.family-list-form-label {
  color:grey;
  width:110px;
  display:inline-block; 
  text-align:right;
  padding-right:15px;
}

.family-list-form-input {
  padding-left:5px;
  font-size:14px;
  width:200px;
  height:30px;
}

.family-list-form-free-input {
  display:inline-block;
  padding-left:5px;
  font-size:14px;
  width:200px;
  height:20px;
  margin-top:15px;
}

.button {
  padding:10px 15px 10px 15px;
  margin-right:15px;
  background:grey;
  width:50px;
  color:white;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}

.family-list-content {
  padding:15px;
  text-align:left;
  vertical-align:top;
  display:inline-block;
  width:350px;
  background:lightgrey;
  margin-left:15px;
  padding-bottom:20px;
}

.family-list-items {
  margin-top:10px;
  height:437px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.family-list-item {
  padding:3px 7px 3px 7px;
  cursor:pointer;
}

.family-list-item-selected {
  background:grey !important;
  color:white !important;
}
.family-list-item:hover {
  background:grey !important;
  color:white !important;
}

.family-list-buttons {
  width:100%;
  margin-bottom:10px;
}

.family-list-button {
  padding:3px 7px 3px 7px;
  background:grey;
  width:282px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
  color:white;
}
.family-list-button:hover {
  background:grey !important;
  color:white !important;
}

.tools {
  background:lightgrey;
  margin-top:62px;
  margin-bottom:50px;
  position:fixed;
  width:100vw;
  text-align:center;
  top:0;
  left:0;
  height:30px;
  padding-top:10px;
}

#root-family{
}

.family {
  border:0px solid orange; /* For debugging purpose*/
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
  padding-right:10px;
  padding-left:10px;
  margin-top:10px;
}

.derivative-line {
  display:block;
  background:blue;
  width:0px;
  border-left: 2px solid blue;
  height:30px;
  margin:0 auto;
}

.derivative-line-ex {
  display:block;
  width:0px;
  border-left: 2px solid blue;
  height:30px;
  margin:0 auto;
margin-right:30%;
}

.derivative-line-2 {
  display:block;
  float:left;
  width:0px;
  border-left: 2px solid blue;
  height:20px;
  margin-top:-32px;
  margin-left:49px;
}

.sibling-line {
  display:block;
  width:calc(100% - 160px);
  height:0px;
  border-top: 2px solid blue;
  margin:0 auto;
}

.sibling-line-left {
  vertical-align:top;
  width:calc(50% + 21px);
  float:right;
  margin-right:-21px;
  margin-top:-20px;
  height:0px;
  border-top: 2px solid blue;
}

.sibling-line-left-node {
  display:block;
  float:left;
  width:72px;
  height:0px;
  border-top: 2px solid blue;
  margin-top:-32px;
  margin-left:51px;
}

.sibling-line-right {
  vertical-align:top;
  width:calc(100% - 40px);
  float:left;
  margin-left:-21px;
  margin-top:-20px;
  height:0px;
  border-top: 2px solid blue;
}

.sibling-line-right-with-exs {
  vertical-align:top;
  width:calc(100% - 200px);
  float:left;
  margin-left:-100px;
  margin-top:-10px;
  height:0px;
  border-top: 2px solid blue;
}

.sibling-line-right-with-spouse {
  border-top: 2px solid blue !important;
  width:calc(50% - 70px) !important;
  margin-right:21px !important;
}

.sibling-line-right-node {
  display:block;
  float:left;
  width:50px;
  height:0px;
  border-top: 2px solid blue;
  margin-top:-32px;
  margin-right:50px;
}

.marital-line-exs {
  vertical-align:top;
  width:calc(100%/2 - 40px);
  float:top;
  margin-left:calc(100%/2 + 60px);
  margin-top:-30px;
  margin-bottom:30px;
  height:0px;
  border-top: 2px solid red;
}

.sibling-line-center {
  vertical-align:top;
  width:calc(100% + 40px);
  margin-top:-20px;
  margin-left:-20px;
  margin-bottom:20px;
  height:0px;
  border-top: 2px solid blue;
}

.radio {
  border-bottom:2px solid none;
  padding:5px;
  margin-right:10px;
  cursor:pointer;
}

.radio:hover {
  background:grey;
  border-bottom:2px solid grey;
  color:white;
}

.radio-selected {
  border-bottom:2px solid grey;
  padding:5px;
  margin-right:10px;
  cursor:pointer;
}

.marital-line {
  width:20px;
  height:0px;
  border-top: 2px solid grey;
  display:inline-block;
}

.marital-line-divorced {
  width:20px;
  height:0px;
  border-top: 2px solid red;
  display:inline-block;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 998;
  padding-top: 50px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: lightgrey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 340px;
  text-align:left;
}

/* The Close Button */
.close-container {
  height:30px;
}
.close {
  color: grey;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.search-box {
  padding-left:5px;
  font-size:14px;
  width:288px;
  height:30px;
}

.select-for-label {
  color:grey;
  padding-bottom:10px;
}

.remove-button-small {
  width:20px;
  height:20px;
  background:red;
  color:white;
  text-align:center;
  display:inline-block;
  cursor:pointer;
  vertical-align:center;
}

.i18n {
  padding:5px 10px 5px 10px;
  font-size:14px;
  background:lightgrey;
  position:fixed;
  bottom:0;
  left:0;
  z-index:999;
}
.i18n-options {
  cursor:pointer;
  color:grey;
}
.i18n-options:hover {
  cursor:pointer;
  color:black !important;
}
.i18n-selected {
  color:black !important;
}
